.App {
  background-color: slategray;
  color: whitesmoke;
  border-radius: 20px;
}

Header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: navy;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}